version: '3.7'
services:
  zookeeper:
    image: zookeeper:3.5.6
    hostname: zookeeper
    container_name: zookeeper-pulsar
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
  pulsar:
    image: apachepulsar/pulsar:2.9.1
    command: "bin/pulsar standalone"
    restart: unless-stopped
    container_name: "pulsar"
    ports:
      - "6650:6650"
      - "8080:8080"
  pinot-controller:
    image: apachepinot/pinot:0.10.0
    command: "StartController -zkAddress zookeeper-pulsar:2181"
    container_name: "pinot-controller-pulsar"
    volumes:
      - ./config:/config
      - ./plugins/pinot-pulsar-0.10.0-shaded.jar:/opt/pinot/plugins/pinot-stream-ingestion/pinot-pulsar/pinot-pulsar-0.10.0-shaded.jar
    restart: unless-stopped
    ports:
      - "9000:9000"
    depends_on:
      - zookeeper
  pinot-broker:
    image: apachepinot/pinot:0.10.0
    command: "StartBroker -zkAddress zookeeper-pulsar:2181"
    restart: unless-stopped
    container_name: "pinot-broker-pulsar"
    ports:
      - "8099:8099"
    depends_on:
      - pinot-controller
  pinot-server:
    image: apachepinot/pinot:0.10.0
    command: "StartServer -zkAddress zookeeper-pulsar:2181"
    restart: unless-stopped
    container_name: "pinot-server-pulsar"
    depends_on:
      - pinot-broker
    volumes:
      - ./plugins/pinot-pulsar-0.10.0-shaded.jar:/opt/pinot/plugins/pinot-stream-ingestion/pinot-pulsar/pinot-pulsar-0.10.0-shaded.jar