version: '3.7'
services:
  minio:
    image: minio/minio
    container_name: "minio"
    command: "server /data --console-address ':9001'"
    ports:
      - "9100:9000"
      - "9101:9001"
    networks: 
      - minio
  zookeeper:
    image: zookeeper:3.9.0
    hostname: zookeeper
    container_name: zookeeper-minio
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks: 
      - minio
  kafka:
    image: wurstmeister/kafka:latest
    restart: unless-stopped
    container_name: "kafka-minio"
    ports:
      - "9092:9092"
    expose:
      - "9093"
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-minio:2181/kafka
      KAFKA_BROKER_ID: 0
      KAFKA_ADVERTISED_HOST_NAME: kafka-minio
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-minio:9093,OUTSIDE://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093,OUTSIDE://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,OUTSIDE:PLAINTEXT
    networks: 
      - minio
  pinot-controller:
    image: apachepinot/pinot:0.12.1-arm64
    command: "StartController -zkAddress zookeeper-minio:2181 -config /config/controller-conf.conf"
    container_name: "pinot-controller-minio"
    volumes:
      - ./config:/config
      - ./input:/input
    restart: unless-stopped
    ports:
      - "9000:9000"
    depends_on:
      - zookeeper
    networks: 
      - minio
  pinot-broker:
    image: apachepinot/pinot:0.12.1-arm64
    command: "StartBroker -zkAddress zookeeper-minio:2181"
    restart: unless-stopped
    container_name: "pinot-broker-minio"
    ports:
      - "8099:8099"
    depends_on:
      - pinot-controller
    networks: 
      - minio
  pinot-server:
    image: apachepinot/pinot:0.12.1-arm64
    command: "StartServer -zkAddress zookeeper-minio:2181"
    restart: unless-stopped
    container_name: "pinot-server-minio"
    depends_on:
      - pinot-broker
    networks: 
      - minio

networks:
  minio:
    name: minio